body {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #171d1c;
}
h2 {
  color: #efe9f4;

  text-align: center;
}
h3 {
  color: #efe9f4;

  text-align: center;
}
#BookedSlotsCounter {
  color: #efe9f4;

  text-align: center;
}

#pricePerSpace {
  color: #efe9f4;

  text-align: center;
}

.Intro_page {
  width: 100%;
  height: 50em;
  display: block;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Info_Container {
  display: flex;
  width: 50em;
  align-items: center;
  justify-content: center;
  background-color: #171d1c;
}

.Specific_Info {
  color: #efe9f4;
}

.booking_container {
  width: 100%;
  height: 50em;
  display: none;
}
.booking_container1 {
  width: 100%;
  height: 50em;
}

.keys_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookingkeysSmall {
  display: flex;
  width: 50em;
  height: 35em;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: #171d1c;
  display: none;
}
.bookingkeysLarge {
  display: flex;
  width: 50em;
  height: 35em;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: #171d1c;
  display: none;
}
.unBooked {
  color: hsl(0, 0%, 100%);
  align-items: center;
  border-radius: 70%;
  border: ;
  background-color: hsl(212, 17%, 21%);
  height: 70px;
  width: 70px;
  margin: 10% 7% 10% 1%;
  display: inline;
  position: relative;
  left: 25%;
}

.booked {
  color: hsl(0, 0%, 100%);
  align-items: center;
  border-radius: 70%;
  border: ;
  background-color: #5863f8;
  height: 70px;
  width: 70px;
  margin: 10% 7% 10% 1%;
  display: inline;
  position: relative;
  left: 25%;
}

.Price_showcase {
  color: #efe9f4;
  font-size: 30px;
  text-align: Center;
}

.spacing {
  width: 100%;
  height: 10px;
}

.largerSpacing {
  width: 100%;
  height: 100px;
}

.form {
  display: flex;
  width: 50em;

  align-items: center;
  justify-content: center;
  background-color: #171d1c;
}

.BackButton {
  justify-content: center;
  align-items: center;
  background-color: #efe9f4;
}
